*{
    box-sizing: border-box;
}
body{
    font: 1em/1.3;
    height: 100vh;
    background: rgb(14, 119, 19);
}
.centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.calculadora{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    width: 450px;
    
    
}
.calculator input{
    background: none;
    text-align: right;
    border: none;
    font-size: 40px;
    padding: 10px;
    height: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    border-top: 2px solid rgb(0, 0, 0);
    padding: 10px;
    height: 500px;
}
.button{
    border-radius: 10px;
    display: grid;
    color: white;
    background-color: rgb(123, 135, 131);
    border: 2px solid rgb(0, 0, 0);
    padding: 40px;
    height: 40px;
    font-size: 20px;
    
}
.button-C{
    grid-column: 1/ span 3;
    background-color: rgb(75, 150, 206);
}
.cero{
    grid-column:1/span 3;
}
.igual{
    background-color: rgb(11, 201, 90);
    
}
